{% extends 'basic.html' %}
    {%block title%}litehouse{%endblock%}
    {%block css%}
      .col-md-3{
        display: inline-block;
        margin-left: -4px;
      }
      .carousel-indicator .active{
        background-color: blue;
      }
      .col-md-3 img{
        width: 255px;
        height:355px;
      }

      .container{
        margin-top: 20px;
      }

      button{
        opacity: 0.5;
      }
      body .carousel-indicators li{
        background-color:black;
      }
      body .carousel-indicators{
        bottom:0;
      }

      body .carousel-control-prev-icon,
      body .carousel-control-next-icon{
        background-color:black;
      }
       body .no-padding{
         padding-left: 0;
         padding-right: 0;

       }

    {%endblock%}
  </head>
  
  {%block body%} 
  {%load static%}
    <!--slider-->
  
  <div class="container">
    
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        {%for i in range%}
        <li data-target="#demo" data-slide-to="{{i}}"></li>
        {%endfor%}

      </ul>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src="static\assest\light2.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{product.0.name}}</h5>
                    <p class="card-text">{{product.0.description}}</p>
                    <button id="pr{{product.0.id}}" class="btn btn-primary cart">Add To Cart</button>
                  </div>
                </div>
              </div>
              <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src="static\assest\light2.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{product.1.name}}</h5>
                    <p class="card-text">{{product.1.description}}</p>
                    <button id="pr{{product.1.id}}" class="btn btn-primary cart">Add To Cart</button>
                  </div>
                </div>
              </div>
              <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src="static\assest\light2.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{product.3.name}}</h5>
                    <p class="card-text">{{product.3.description}}</p>
                    <button id="pr{{product.3.id}}" class="btn btn-primary cart">Add To Cart</button>
                  </div>
                </div>
              </div>
              <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src="static\assest\light2.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{product.4.name}}</h5>
                    <p class="card-text">{{product.4.description}}</p>
                    <button id="pr{{product.4.id}}" class="btn btn-primary cart">Add To Cart</button>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="carousel-item">
            <div class="row">
              <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src="static\assest\light2.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{product.5.name}}</h5>
                    <p class="card-text">{{product.5.description}}</p>
                    <button id="pr{{product.5.id}}" class="btn btn-primary cart">Add To Cart</button>
                  </div>
                </div>
              </div>
              <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src="static\assest\light2.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{product.6.name}}</h5>
                    <p class="card-text">{{product.6.description}}</p>
                    <button id="pr{{product.6.id}}"  class="btn btn-primary cart">Add To Cart</button>
                  </div>
                </div>
              </div>
              <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src='/media/{{product.7.image}}' class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{product.7.name}}</h5>
                    <p class="card-text">{{product.7.description}}</p>
                    <button id="pr{{product.7.id}}" class="btn btn-primary cart">Add To Cart</button>
                  </div>
                </div>
              </div>
              <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src="static\assest\light2.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{product.8.name}}</h5>
                    <p class="card-text">{{product.8.description}}</p>
                    <button id="pr{{product.9.id}}" class="btn btn-primary cart">Add To Cart</button>
                  </div>
                </div> 
              </div>
            </div>
          </div>


          <div class="carousel-item">
            <div class="row">
              <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src="static\assest\light2.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{product.9.name}}</h5>
                    <p class="card-text">{{product.9.description}}</p>
                    <button id="pr{{product.9.id}}" class="btn btn-primary cart">Add To Cart</button>
                  </div>
                </div>
              </div>
              <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src="static\assest\light2.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{product.10.name}}</h5>
                    <p class="card-text">{{product.10.description}}</p>
                    <button  id="pr{{product.10.id}}" class="btn btn-primary cart">Add To Cart</button>
                  </div>
                </div>
              </div>
              <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src="static\assest\light2.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{product.11.name}}</h5>
                    <p class="card-text">{{product.11.description}}</p>
                    <button id="pr{{product.11.id}}" class="btn btn-primary cart">Add To Cart</button>
                  </div>
                </div>
              </div>
              <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src="static\assest\light2.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{product.12.name}}</h5>
                    <p class="card-text">{{product.12.description}}</p>
                    <button id="pr{{product.12.id}}" class="btn btn-primary cart">Add To Cart</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    {%endblock%}

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/jquery.plugin.js"></script>
    <script src="/js/jquery.min.js"></script>

    {%block js%}
    <script>
      console.log('working');
      if(localStorage.getItem('cart') == null){
        var cart={};
      }
      else{
        cart=JSON.parse(localStorage.getItem('cart'));
      }
      $ ('.cart').click(function(){
        console.log('clicked');
      });

          </script>
    {% endblock %}