<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>cart</title>
    <style>
        .col-md-3{
        display: inline-block;
        margin-left: -4px;
      }
      .carousel-indicator .active{
        background-color: blue;
      }
      .col-md-3 img{
        width: 100%;
        height: auto;
      }

      .container{
        margin-top: 20px;
      }

      button{
        opacity: 0.5;
      }
      body .carousel-indicators li{
        background-color:black;
      }
      body .carousel-indicators{
        bottom:0;
      }

      body .carousel-control-prev-icon,
      body .carousel-control-next-icon{
        background-color:black;
      }
       body .no-padding{
         padding-left: 0;
         padding-right: 0;

       }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">PROCURE LIGHTS</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Add to cart</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Category
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">SOLAR</a></li>
                  <li><a class="dropdown-item" href="#">led</a></li>
                  <li><a class="dropdown-item" href="#">led1</a></li>
                  <li><a class="dropdown-item" href="#">led2</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
    </nav>
    <div class="container">
        <div class="border rounded p-4 m-4">
             <p class="display-4 pl-4 ml-4">Your Orders</p>
             <hr>
             <table class="table">
                 <thead>
                     <tr>
                         <th>Sno.</th>
                         <th>Image</th>
                         <th>Product</th>
                         <th>Date</th>
                         <th>Price</th>
                         <th>Quantity</th>
                         <th>Total</th>
                         <th>Status</th>
                     </tr>
                 </thead>
                 <tbody>
                     
                     {% for order in orders %}
                     <tr>
                         <td>{{forloop.counter}}</td>
                         <td><img style="height: 80px;" class="rounded-circle" src="{{order.product.image.url}}" alt=""></td>
                         <td>{{order.product.name}}</td>
                         <td>{{order.date}}</td>
                         <td>{{order.price}}</td>
                         <td>{{order.quantity}}</td>
                         <td>{{order.quantity}}</td>
                         {% if order.status %}
                         <td><small class="badge badge-success">Completed</small></td>
                         {%else%}
                         <td><small class="badge badge-warning">Pending</small></td>
                         {% endif %}
                     </tr>
     
                     {% endfor %}
                    
                 </tbody>
     
             </table>
            
        </div>
     </div>
     
</body>
</html>     

       